doctype html
html(lang="en")
  head
    title FreeCodeCamp bcersows
    link(rel='stylesheet', href='/css/style.css')
  body
    main
      h1 Welcome to bcersows's FreeCodeCamp show case
      p There are several showcases ready. Those are:
      ul
        li <strong>Timestamp service</strong>: Pass a real date or an Unix timestamp to receive a conversion as JSON. <a href="/timestamp">Click here: <em>/timestamp</em></a>
        li <strong>Request header parser</strong>: Gives the user some information about his system. <a href="/whoami">Click here: <em>/whoami</em></a>
        li <strong>URL shortener</strong>: Gets a user-provided URL and creates a shortlink for it. Redirects when opening that shortened URL. <a href="/shorturl">Click here: <em>/shorturl</em></a>