doctype html
html(lang="en")
  head
    title FreeCodeCamp bcersows Image Search
    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css').
        body {
            
        }
  body
    main
      h1 Welcome to bcersows's Image Search
      p To search, open the link '#{base}/search/<em>&lt;search&gt;</em>'. Reach the search history via '#{base}/latest'.