doctype html
html(lang="en")
  head
    title FreeCodeCamp bcersows File Metadata
    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css').
        body {
            
        }
  body
    main
      h1 Welcome to bcersows's File Metadata service
      p You can upload a file and get its size in Bytes.
      form#upload(action=base+"/upload" method="post" enctype="multipart/form-data")
        label Upload your file!
          input#myupload(name="myupload" type="file")
        button#submit(type="submit") Upload!