doctype html
html(lang="en")
  head
    title FreeCodeCamp bcersows URL Shortener
    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css').
        body {
            
        }
  body
    main
      h1 Welcome to bcersows's URL Shortener
      p To create a new short-url, open the link '#{base}/new?p=<em>URL to shorten</em>'. Shortened URLs can be used via '#{base}/r/<em>id</em>'.
      #urls
        ul
          each val in urls
            li #{val.url} (id: #{val._id})
          else
            li There are no values